<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynamicsServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DynamicsServices.Properties.Settings>
            <setting name="DynamicsServices_UserPageRef_User_Service" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS/Page/User</value>
            </setting>
            <setting name="DynamicsServices_ProductPageRef_Product_Service"
                serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS/Page/Product</value>
            </setting>
            <setting name="DynamicsServices_OrderPageRef_Order_Service" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS/Page/Order</value>
            </setting>
            <setting name="DynamicsServices_OrderedItemsPageRef_OrderedItems_Service"
                serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS/Page/OrderedItems</value>
            </setting>
        </DynamicsServices.Properties.Settings>
    </applicationSettings>
</configuration>